body
{
background-color: white;
padding: 0;
margin: 0;
   

}

.header {
    padding: 32px;
    text-align: center;
    background:#004175;
    color: white;
    font-size: 20px;
    border-bottom: 4px solid #89DEEF ;
  }

* {
  box-sizing: border-box;

}

.gallery img {
  width: 900px;
  height: 300px;
  max-width: 350px;
  
  
  
  
  
  }

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5px; 
    gap: 16px;
    

    
    

  }
  
 

    
      
    

  

  
  

 



  


    
